.input-group
	display inline-block
	width 100%
	padding 0 20px
	background-color $customwhite1
	font-size 14px
	font-weight 700
	color $customblack2
	margin-bottom 5px
	input, textarea
		width 100%	
		display block
		padding 7px 20px
		border 0
		outline none
		&::-webkit-input-placeholder
			font-weight 400
			text-align left
			color $customblack2
		&:-moz-placeholder
			font-weight 400
			text-align left
			color $customblack2
		&::-moz-placeholder
			font-weight 400
			text-align left
			color $customblack2  
		&:-ms-input-placeholder  
			font-weight 400
			text-align left
			color $customblack2
	textarea
		border 0
		outline none
		padding 5px 20px
	&--default
		display inline-block
		width 100%
		padding 0 5px
		background-color transparent
		font-size 14px
		font-weight 700
		color $customwhite1
		border 1px solid $customgray4
		@media mqmobile-md
			margin-bottom 15px
		input, textarea, select, option
			width 100%	
			display block
			padding 5px 10px
			outline none
			border 0
			background-color transparent
			&::-webkit-input-placeholder
				font-weight 100
				text-align left
				color $customwhite1
			&:-moz-placeholder
				font-weight 100
				text-align left
				color $customwhite1
			&::-moz-placeholder
				font-weight 100
				text-align left
				color $customwhite1  
			&:-ms-input-placeholder  
				font-weight 100
				text-align left
				color $customwhite1
		option
			padding 10px 0
			background-color rgba($custompurple3, .75)
		textarea
			border 0
			outline none
			padding 5px 10px
			border-radius 20px
			min-height 140px
			resize none
		&--checkbox
			padding 15px 0 25px 0
			input[type=checkbox]
				visibility hidden
				margin 4px 10px 0 10px
				cursor pointer
				&:before 
					content ''
					display inline-block
					margin 0
					width 14px
					height 14px
					visibility visible
					border 1px solid #999
					-webkit-border-radius 0
					-moz-border-radius 0
					border-radius 0
					line-height 1px
					font-size 14px
					text-align center
					font-weight 700
					color $customwhite1
				&:checked:before
					content 'x'
					background-color alpha($customgray4, 50%)
					padding-top 4px
					margin 0