.footer
	position relative
	z-index 1
	text-align center
	color $customwhite1
	font-size 13px	
	&__contact
		background-color $customblack3
		padding 30px 15px
	&__credits
		background-color $customred3
		padding 10px
	p 
		font-size 18px
	a
		font-size 13px
		color $customwhite1
.thankyou-form
	min-height 100vh
	img
		position fixed
		top 50%
		left 25%
		vertical-middle(-50%)
.footer-2
	.footer__credits
		background-color $customblack1