#mod-about-1
	padding 70px 15px
	background-color $customwhite1
	background-image url('../../assets/img/bg-section-n1.jpg')
	color $customblack2
	text-align center
	font-size 16px
	.page-header
		font-size 35px
		text-align center
		padding 0
		border 0
		margin 0
	h1
		margin 0
		font-size 1em
		font-weight 700
	h2
		font-size 1em
		font-weight 400
	p 
		font-size .9em
		line-height 1.2
		padding 20px 0
	a
		font-weight 700
		padding 5px 40px
	&__content
		max-width 550px
		margin 0 auto
