// Carousel
#carousel
	background-color $customgray3
	margin-top 59px
	.carousel-inner
		.item
			height calc(100vh - 59px)
			min-height 500px
			max-height 900px
			background-size cover
			background-position center
			background-repeat no-repeat
			padding 0 15px
			.carousel-caption
				width 100%
				max-width 970px
				margin 0 auto
				top 50%
				left 0
				right 0
				bottom inherit !important
				vertical-middle(-50%)
				h1,p,a
					text-shadow none
				h1
					text-transform uppercase
					font-size 36px
					font-weight 900
					text-shadow(1px 1px 1px black)
				p
					font-size 24px
					font-weight 400
					text-shadow(1px 1px 1px black)
				a
					display inline-block
					color branco
					font-size 16px
					font-weight 900
					text-transform uppercase
					text-decoration none
					padding 10px 30px
					background-color cor5
					border-radius(60px)
				.arrow-down
					margin-top 120px
					@media mqtablet
						margin-top 60px
					span.glyphicon-menu-down
						display block
						font-size 26px
						font-weight 100
						margin-bottom -10px
						opacity 1
				@media mqtablet
					bottom 25%
					h1
						font-size 32px
						font-weight 900
					p
						font-size 18px
						font-weight 400
				@media mqmobile
					h1
						font-size 24px
					p 
						font-size 24px
	.carousel-indicators
		li
			width 8px
			height 8px
			background-color $customblack2
			border 2px solid $customblack2
			&.active
				width 10px
				height 10px
				background-color $customgreen1
	.arrow-down
		position absolute
		left 50%
		margin-left -8px
		z-index 14
		bottom 60px
		-webkit-animation-duration 1.5s
		animation-duration 1.5s
		a
			color $customwhite1
			padding 0
		.icon-arrow-down1
			display block
			font-size 9px
			color $white
			margin-bottom -23px