#mod-grid-programatic
	position relative
	&:after
		bottom -20px
		height 20px
		background-image url('.././img/divider1.png')
	.wrapper
		max-width 850px
		width 100%
		margin 0 auto
	.page-header
		padding 80px 15px
		text-align center
		background-image url('.././img/bg-grade.jpg')
		background-color $customorange1
		background-repeat repeat-x
		background-size contain
		h1
			font-size 35px
			font-weight 700
			color $customwhite1
	.content, .list
		background-color $customgray6
		font-size 18px
		font-weight 100
		text-align center
		color $customwhite1
		padding 50px 0
		p
			font-size 18px
			line-height 1.4
			padding 0 15px
			margin 0
	.list
		background-color $customorange2
		font-weight 400
		.wrapper
			max-width 730px
		ul
			text-align left
			margin 15px 0
		li
			list-style disc
			line-height 1.6