#mod-posts-2
	background-color $customyellow1
	padding 70px 15px
	border-top 15px solid $customgreen2
	h1
		text-transform uppercase
	.page-header
		font-size 35px
		text-align center
		padding 0
		border 0
		margin 0
		h2
			font-weight 100		
	&-content
		padding 70px 15px
		background-color $customgray2
		color $customblack3
		font-size 14px
		font-weight 400
		border-bottom 15px solid $customgray3
		text-align center
		.wrapper-icons
			font-size 56px
			@media mqmobile-md
				text-align center
		p
			min-height 100px