.zig
	overflow hidden
	font-size 16px
	color $customblack5
	background-color $customwhite1
	&__content-n1
		background-size cover
		background-position top right
		background-repeat no-repeat
		@media mqmobile-md
			height 350px !important
	&__n1
		.zig__content-n1
			background-image url('.././img/treinamento-sap-basis.jpg')
	&__n2
		.zig__content-n1
			background-image url('.././img/pra-quem-serve.jpg')
	&__n3
		.zig__content-n1
			background-image url('.././img/treinamentos-online.jpg')
	&__n4
		.zig__content-n1
			background-image url('.././img/a-empower-it.jpg')
	&__n5
		.zig__content-n1
			background-image url('.././img/nossa-missao.jpg')
	&__n6
		.zig__content-n1
			background-image url('.././img/veracel.jpg')
	&__n7
		.zig__content-n1
			background-image url('.././img/cimenfort.jpg')
	&__content-n2
		padding 100px 100px
		color $white
		font-size 100%
		@media mqtablet
			padding 50px 25px
		@media mqmobile-md
			text-align justify
			padding 50px 30px
	&__content__icons
		@media mqmobile-md
			text-align center
			margin-bottom 25px
		.icons
			font-size 46px
	.page-header
		margin 0 0 15px 0
		@media mqmobile-md 
			text-align center	
	.title,h1
		font-size 30px
		font-weight 600
		color $customred3
		text-transform uppercase
		margin 0
		padding 20px 0
		@media mqmobile-md 
			text-align center
	a
		font-size 100%
		color $white
		text-decoration underline
	p
		font-weight 400
		padding 5px 0
		margin 0
	em
		text-decoration underline