#mod_inscricao1
	padding 100px 0
	cover('.././img/bg-inscricao.jpg')
	background-position top center
	color $customwhite1
	.page-header
		text-align center
		width 80%
		margin 0 auto
		padding-bottom 100px
		h1
			font-size 35px
			font-weight 700
			margin-bottom 10px
		strong 
			font-size 18px
			font-weight 100
	.input-group--default
		margin-bottom 10px