#mod_divisora
	padding 50px 15px
	border-top 2px solid $customred2
	border-bottom 10px solid $customgray2
	text-align center
	h1
		font-size 25px
		font-weight 400
		text-transform uppercase
		color $customblack3