#mod_pagamento
	padding 100px 0
	cover('.././img/bg-pagamento.jpg')
	background-position left center
	@media mqmobile-md
		padding 0
	.link-pagseguro
		background-color $customred2
		padding 10px
		margin 20px	 0
		a
			color $customwhite1
			border 1px solid $customwhite1
			display block
			padding 15px
			text-align center
	.content
		padding 25px 50px
		color $customwhite1
		@media mqmobile-md
			padding 15px
		&__wrapper
			background-color alpha($custompurple3, 75%)
			padding 0
	p
		padding 0
	em
		margin-bottom 10px
		font-size 32px
		font-weight 600
		color $customyellow1