.postit
	position fixed
	opacity 0
	z-index 10
	vertical-middle(-50%)
	a
		display block
.postit-fixed1
	top calc(50% + 50px)
	right 0
.postit-fixed2
	top calc(50% + 100px)
	right 0
.postit-fixed3
	top calc(50% + 150px)
	right 0