@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Light'), local('OpenSans-Light'),
         url('../font/opensans/opensans-light.woff2') format('woff2'),
         url('../font/opensans/opensans-light.woff') format('woff'),
         url('../font/opensans/opensans-light.ttf') format('truetype');
  font-style: normal;
  font-weight: 300;
}
@font-face {
    font-family: 'Open Sans';
    src:
     local('Open Sans'), local('OpenSans'),
     url('../font/opensans/opensans-regular.woff2') format('woff2'),
         url('../font/opensans/opensans-regular.woff') format('woff'),
         url('../font/opensans/opensans-regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}
@font-face {
    font-family: 'Open Sans';
    src: 
        local('Open Sans Bold'), local('OpenSans-Bold'),
        url('../font/opensans/opensans-bold.woff2') format('woff2'),
         url('../font/opensans/opensans-bold.woff') format('woff'),
         url('../font/opensans/opensans-bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
}
@font-face {
    font-family: 'Open Sans';
    src: 
        local('Open Sans Extrabold'), local('OpenSans-Extrabold'),
        url('../font/opensans/opensans-extrabold.woff2') format('woff2'),
         url('../font/opensans/opensans-extrabold.woff') format('woff'),
         url('../font/opensans/opensans-extrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: 
        local('Open Sans Italic'), local('OpenSans-Italic'),
        url('../font/opensans/opensans-italic.woff2') format('woff2'),
         url('../font/opensans/opensans-italic.woff') format('woff'),
         url('../font/opensans/opensans-italic.ttf') format('truetype');
  font-style: italic;
  font-weight: 400;
}

@font-face {
    font-family: 'icomoon';
    src:    url('../font/icomoon/fonts/icomoon.eot?en22i0');
    src:    url('../font/icomoon/fonts/icomoon.eot?en22i0#iefix') format('embedded-opentype'),
        url('../font/icomoon/fonts/icomoon.ttf?en22i0') format('truetype'),
        url('../font/icomoon/fonts/icomoon.woff?en22i0') format('woff'),
        url('../font/icomoon/fonts/icomoon.svg?en22i0#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-envelope2:before {
  content: "\e900";
}
.icon-world:before {
  content: "\e901";
}
.icon-boca3:before {
  content: "\e908";
}
.icon-configuration1:before {
  content: "\e90e";
}
.icon-list1:before {
  content: "\e90f";
}
.icon-messagebox1:before {
  content: "\e912";
}
.icon-peoples6:before {
  content: "\e913";
}
.icon-recycle1:before {
  content: "\e914";
}
.icon-shild1:before {
  content: "\e915";
}
.icon-boca1:before {
  content: "\e902";
}
.icon-nariz1:before {
  content: "\e903";
}
.icon-redomoinho1:before {
  content: "\e904";
}
.icon-boca2:before {
  content: "\e905";
}
.icon-orelha1:before {
  content: "\e906";
}
.icon-rosto1:before {
  content: "\e910";
}
.icon-arrowdown1:before {
  content: "\e90d";
}
.icon-book1:before {
  content: "\e90c";
}
.icon-certifield1:before {
  content: "\e90b";
}
.icon-computer1:before {
  content: "\e90a";
}
.icon-peoples2:before {
  content: "\e909";
}
.icon-peoples3:before {
  content: "\e907";
}
.icon-peoples4:before {
  content: "\e917";
}
.icon-peoples5:before {
  content: "\e918";
}
.icon-webcam1:before {
  content: "\e91a";
}
.icon-alvo1:before {
  content: "\e919";
}
.icon-design1:before {
  content: "\e91b";
}
.icon-hand1:before {
  content: "\e91d";
}
.icon-mobile3:before {
  content: "\e91e";
}
.icon-search1:before {
  content: "\e921";
}
.icon-time1:before {
  content: "\e920";
}
.icon-sequenza-logo-min:before {
  content: "\e925";
}
.icon-sequenza-logo:before {
  content: "\e926";
}
.icon-block1:before {
  content: "\e91f";
}
.icon-fluig1:before {
  content: "\e922";
}
.icon-computer12:before {
  content: "\e923";
}
.icon-rfid:before {
  content: "\e924";
}
.icon-peoples1:before {
  content: "\e927";
}
.icon-mobile2:before {
  content: "\e928";
}
.icon-lampada1:before {
  content: "\e92a";
}
.icon-digital:before {
  content: "\e929";
}
.icon-computer2:before {
  content: "\e92f";
}
.icon-arrow-down1:before {
  content: "\e92e";
}
.icon-mail1:before {
  content: "\e92d";
}
.icon-marker2:before {
  content: "\e916";
}
.icon-calendar1:before {
  content: "\e92b";
}
.icon-tent1:before {
  content: "\e92c";
}
.icon-archive1:before {
  content: "\e930";
}
.icon-bed1:before {
  content: "\e931";
}
.icon-bus1:before {
  content: "\e932";
}
.icon-bus-left1:before {
  content: "\e933";
}
.icon-bus-right1:before {
  content: "\e934";
}
.icon-chopp1:before {
  content: "\e935";
}
.icon-facebook1:before {
  content: "\e936";
}
.icon-facebook2:before {
  content: "\e93d";
}
.icon-flatware1:before {
  content: "\e93c";
}
.icon-gift1:before {
  content: "\e93b";
}
.icon-instagram1:before {
  content: "\e93a";
}
.icon-linkedin1:before {
  content: "\e939";
}
.icon-man1:before {
  content: "\e938";
}
.icon-marker1:before {
  content: "\e937";
}
.icon-ribbon1:before {
  content: "\e93e";
}
.icon-shirt1:before {
  content: "\e93f";
}
.icon-skype1:before {
  content: "\e940";
}
.icon-telephone1:before {
  content: "\e911";
}
.icon-telephone2:before {
  content: "\e942";
}
.icon-twitter1:before {
  content: "\e941";
}
.icon-whatsapp1:before {
  content: "\e943";
}
.icon-whatsapp2:before {
  content: "\e91c";
}
.icon-woman1:before {
  content: "\e944";
}


